/* ------------------------------- 3. Slider Styles ------------------------------- */

#fwslider {
    position: relative;
    width:100%;
    clear: both;
}

#fwslider .slide {
    display: none;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    width:100%;
}

#fwslider .slide img {
    width:100%;
}

#fwslider .slidePrev {
   
   
    position: absolute;
    top:50%;
    left:-50px;
    
    z-index: 10;
}

#fwslider .slidePrev span {
	background-image: url("../img/img-sprite.png");
	width:80px;
	height: 70px;
	float: left;
	background-position:-12px -4px;
	background-repeat: no-repeat;
	cursor: pointer;
}
#fwslider .slideNext {
   
  
    position: absolute;
    top:50%;
    right:-50px;
   
    z-index: 10;
}

#fwslider .slideNext span {
  background-image: url("../img/img-sprite.png");
	width:80px;
	height: 70px;
	float: left;
	background-position: -110px -4px;
	background-repeat: no-repeat;
	cursor: pointer;
}

#fwslider .timers {
    height:4px;
    position: absolute;
    bottom:15px;
    right:0;
    z-index: 3;
}

#fwslider .timer {
    height:4px;
    width:40px;
    background-color: #000;
    float:left;
    margin-right: 10px;
}

#fwslider .progress {
    height:4px;
    width:0%;
    background-color:#4cb1ca;
    float:left;
}

#fwslider .slide_content {
    top:0;
    left:0;
    position: absolute;
    width:100%;
    height:100%;
}

#fwslider .slide_content_wrap { /* Slider Text Content Container Style */
    max-width:1280px;
    margin:15% auto;
}

#fwslider .title {  /* Slider Title Style */
	margin-left:4%;
	text-transform: capitalize;
	color: #fff;
	font-size:2em;
	background:rgba(91, 89, 82, 0.4);
	padding:5px 20px;
	float: left;
	font-style: normal;
	text-transform:uppercase;
	border:none;
}

#fwslider .description { /* Slider Description Style */
	margin-left:4%;
    opacity: 0;
    color:#ffffff;
    font-size:2em;
    background:rgba(91, 89, 82, 0.4);
    padding:10px;
    clear:both;
    float:left;
    margin-top:3px;
  	font-weight:bold;
   	text-transform:uppercase;
}
